name: Lint

on: [push]

jobs:
  lint:
    name: Run
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Get Go version from go.mod
        id: go-version
        run: echo "version=$(./scripts/extract-go-version.sh)" >> $GITHUB_OUTPUT

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ steps.go-version.outputs.version }}

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.8
          args: --config .golangci.yml
